@model List<RailwayModel.Models.Ticket>
<h1>Tickets</h1>
<table class="table">
    <thead>
        <tr>
          <th>Passenger Name</th>
          <th>Departure Station</th>
          <th>Arrival Station</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            <tr>
                <td>@ticket.Passenger.FirstName</td>
                <td>@ticket.DepartureStation.Name</td>
                <td>@ticket.ArrivalStation.Name</td>
            </tr>
        }
    </tbody>
</table>
