@model RailwayModel.Models.Ticket
@using (Html.BeginForm("AddTicket", "Booking", FormMethod.Post))
{
    <h1>Add a Ticket</h1>
    <p>Ticket ID</p>
    @Html.TextBoxFor(ticket => ticket.TicketId)
    <p>TrainScheduleId</p>
    @Html.TextBoxFor(ticket => ticket.TrainScheduleId)
    <p>Price</p>
    @Html.TextBoxFor(ticket => ticket.TicketId)
    <br>
    <br>
    <button type="submit">Add Ticket</button>
}
